[splunk]
splunk.{{ domain }} centos_version=7

[wklds]
lw01.{{ domain }} centos_version=7
lw02.{{ domain }} centos_version=7

[linux:children]
splunk
wklds

[pce]
{{ pce_hostname }}.{{ domain }} centos_version=7

[pce:vars]
org="{{ org }}"
user_full_name="{{ user_full_name }}"
user_email="{{ user_email }}"  
domain="{{ domain }}"
user_pwd="{{ user_pwd }}"
sdek="HN45NIRfeURhceajznWpmg=="
ansible_user=centos
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
