src,dst,port
fin-dev-web01.{{ domain }},fin-dev-app01.{{ domain }},8080
fin-dev-app01.{{ domain }},fin-dev-db01.{{ domain }},3306
fin-dev-app01.{{ domain }},fin-prd-db02.{{ domain }},3306
fin-prd-web01.{{ domain }},fin-prd-app01.{{ domain }},8080
fin-prd-web01.{{ domain }},fin-prd-app02.{{ domain }},8080
fin-prd-web01.{{ domain }},fin-prd-app03.{{ domain }},8080
fin-prd-web02.{{ domain }},fin-prd-app01.{{ domain }},8080
fin-prd-web02.{{ domain }},fin-prd-app02.{{ domain }},8080
fin-prd-web02.{{ domain }},fin-prd-app03.{{ domain }},8080
fin-prd-web03.{{ domain }},fin-prd-app01.{{ domain }},8080
fin-prd-web03.{{ domain }},fin-prd-app02.{{ domain }},8080
fin-prd-web03.{{ domain }},fin-prd-app03.{{ domain }},8080
fin-prd-app01.{{ domain }},fin-prd-db01.{{ domain }},3306
fin-prd-app01.{{ domain }},fin-prd-db02.{{ domain }},3306
fin-prd-app02.{{ domain }},fin-prd-db01.{{ domain }},3306
fin-prd-app02.{{ domain }},fin-prd-db02.{{ domain }},3306
fin-prd-app03.{{ domain }},fin-prd-db01.{{ domain }},3306
fin-prd-app03.{{ domain }},fin-prd-db02.{{ domain }},3306
fin-prd-app01.{{ domain }},rdsdb01.{{ domain }},3306
fin-prd-app02.{{ domain }},rdsdb01.{{ domain }},3306
fin-prd-app03.{{ domain }},rdsdb01.{{ domain }},3306
fin-prd-db01.{{ domain }},fin-prd-db02.{{ domain }},3306
fin-prd-db02.{{ domain }},fin-prd-db01.{{ domain }},3306
hrm-dev-web01.{{ domain }},hrm-dev-app01.{{ domain }},8080
hrm-dev-app01.{{ domain }},hrm-dev-db01.{{ domain }},3306
hrm-dev-app01.{{ domain }},hrm-prd-db02.{{ domain }},3306
hrm-prd-web01.{{ domain }},hrm-prd-app01.{{ domain }},8080
hrm-prd-web01.{{ domain }},hrm-prd-app02.{{ domain }},8080
hrm-prd-web01.{{ domain }},hrm-prd-app03.{{ domain }},8080
hrm-prd-web02.{{ domain }},hrm-prd-app01.{{ domain }},8080
hrm-prd-web02.{{ domain }},hrm-prd-app02.{{ domain }},8080
hrm-prd-web02.{{ domain }},hrm-prd-app03.{{ domain }},8080
hrm-prd-web03.{{ domain }},hrm-prd-app01.{{ domain }},8080
hrm-prd-web03.{{ domain }},hrm-prd-app02.{{ domain }},8080
hrm-prd-web03.{{ domain }},hrm-prd-app03.{{ domain }},8080
hrm-prd-app01.{{ domain }},hrm-prd-db01.{{ domain }},3306
hrm-prd-app01.{{ domain }},hrm-prd-db02.{{ domain }},3306
hrm-prd-app02.{{ domain }},hrm-prd-db01.{{ domain }},3306
hrm-prd-app02.{{ domain }},hrm-prd-db02.{{ domain }},3306
hrm-prd-app03.{{ domain }},hrm-prd-db01.{{ domain }},3306
hrm-prd-app03.{{ domain }},hrm-prd-db02.{{ domain }},3306
hrm-prd-db01.{{ domain }},hrm-prd-db02.{{ domain }},3306
hrm-prd-db02.{{ domain }},hrm-prd-db01.{{ domain }},3306
